.Person {
    width: 60%;
    margin: 16px auto;
    border: 1px solid #ccc;
    box-shadow: 0 2px 3px #eee;
    padding: 16px;
    text-align: center;
}

.newStyle {
     background-color: white;
     border: 1px solid blue ;
     font: inherit;
     padding: 8px;
     cursor: pointer;
}